:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}
* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1400px;
  }
}

.header {
  padding: 20px;
  font-family: "Raleway", sans-serif;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .links ul {
  list-style-type: none;
}
.header .links ul li {
  display: inline-block;
  padding-left: 20px;
}
.header .links ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--Very-Dark-Blue);
  transition: 0.2s;
}
.header .links ul li a:hover {
  font-weight: bold;
  padding-right: 10px;
}
.subscribe {
  padding-top: 60px;
  padding-bottom: 60px;
}
.subscribe .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  color: var(--Very-Dark-Blue);
}
.subscribe .container img {
  order: 1;
  display: block;
  max-width: 100%;
}
.subscribe .container .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
.subscribe .container .info h2 {
  font-weight: bold;
  line-height: 3.5rem;
  font-size: 2.7rem;
}
.subscribe .container .info p {
  padding-bottom: 20px;
  line-height: 1.7rem;
  padding-top: 20px;
}
.subscribe .container .info form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  perspective: 50px;
}
.subscribe .container .info input.mail {
  padding-left: 15px;
  width: calc (100% - 10px);
  height: 2.2rem;
  min-width: 300px;
  border: 0.5px solid gray;
  border-radius: 5px;
  margin-right: 10px;
}
.subscribe .container .info input[type="submit"] {
  background-color: var(--Bright-Blue);
  border: none;
  min-width: 200px;
  height: 2.2rem;
  border-radius: 5px;
  color: var(--Grayish-Blue);
  font-weight: bold;
}
@media (max-width: 1199px) {
  .subscribe .container .info form {
    justify-content: center;
  }
  .subscribe .container .info input.mail {
    margin-bottom: 20px;
  }
}

.subscribe .container .info input[type="submit"]:hover {
  cursor: pointer;
}
.subscribe .container .info input[type="submit"]:active {
  transform: translateZ(0.5px);
}
.motivation {
  padding-top: 100px;
  padding-bottom: 80px;
  background-image: url(../images/bg-curve-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.motivation .container {
  background-color: #f8f8fe;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  color: var(--Very-Dark-Blue);
}
.motivation .container .info h2 {
  font-weight: bold;
  line-height: 3.5rem;
  font-size: 2rem;
}
.motivation .container .info > p {
  display: flex;
  align-items: center;
  margin: 0px;
  line-height: 1.5rem;
  padding-top: 20px;
  font-size: 0.9rem;
}
.motivation .container img.ill {
  order: 1;
  display: block;
  max-width: 100%;
}
.motivation .container .info {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
.motivation .container .info a {
  color: #3da08f;
  padding: 5px;
  text-decoration: underline;
  text-underline-position: under;
}
.motivation .container .info .arrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.motivation .container .info .qu {
  margin-top: 15px;
  display: block;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.motivation .container .info .cc {
  display: flex;
  align-items: center;
}
.motivation .container .info .nam {
  padding: 10px;
  font-size: 0.8rem;
  color: var(--Very-Dark-Blue);
  font-weight: bold;
}
.motivation .container .info .pos {
  display: block;
  font-weight: normal;
  font-size: 0.6rem;
}
.motivation .container .info .av {
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.ll:hover {
  font-weight: bold;
}

.motivation .container .info blockquote {
  padding-left: 25px;
  padding-right: 25px;
  width: 350px;
  height: 200px;
  font-size: 0.9rem;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 1px 2px 3px rgba(229, 229, 229, 0.36),
    0.8px 1.6px 2px -0.8px rgba(255, 255, 255, 0.36),
    2.1px 4.1px 5.2px -1.7px rgba(255, 250, 250, 0.36),
    5px 10px 12.6px -2.5px rgba(255, 253, 253, 0.36);
}
.motivation .container .info blockquote p[class="qq"] {
  padding: 10px 0px;
  font-weight: 400;
  text-align: start;
}
.getstart {
  background-color: hsl(238deg 22% 46%);
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}
.getstart .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.getstart .container h3 {
  font-weight: bold;
  line-height: 1.5rem;
  font-size: 1.5rem;
  margin: 0px;
}

.getstart .container p {
  line-height: 1.4rem;
  padding-top: 15px;
  font-size: 0.8rem;
}

.getstart .container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  perspective: 10px;
}
.getstart .container form input.mail {
  width: 70%;
  height: 40%;
  padding: 15px;
  outline: none;
  border: none;
  margin-bottom: 15px;
  border-radius: 5px;
}
.getstart .container form input.mail:focus {
  border: 1px solid hsl(238deg 22% 30%);
}
.getstart .container form input[type="submit"] {
  border-radius: 5px;
  background-color: var(--Bright-Blue);
  color: white;
  font-weight: bold;
  border: none;
  min-width: 250px;
  height: 40%;
}
.getstart .container form input[type="submit"]:hover {
  cursor: pointer;
}
.getstart .container form input[type="submit"]:active {
  transform: translateZ(-0.5px);
}
.footer {
  background-color: var(--Very-Dark-Blue);
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.d1,
.d2,
.social {
  padding-top: 40px;
}
.footer .container .logo,
.d1,
.d2,
.social {
  width: 100%;
  height: fit-content;
}
.footer .container ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.footer .container ul li {
  padding: 5px;
}
.footer .container ul li:hover {
  font-weight: bold;
}
.footer .container ul li a {
  text-decoration: none;
  font-size: 0.9rem;
  color: white;
  transition: 0.3s;
}
.footer .container ul li a:hover {
  padding-left: 10px;
}
.footer .container .logoi {
  display: block;
  padding-bottom: 10px;
}
.footer .container .fa-solid span {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  font-weight: normal;
  padding: 10px;
}
.footer .container .fa-brands {
  padding: 10px;
  font-weight: bold;
  font-size: x-large;
}
@media (max-width: 510px) {
  .header {
    padding: 25px 0px;
  }

  .header ul li {
    padding-left: 10px;
  }

  .logo {
    width: 110px;
    height: 35px;
  }
}

@media (max-width: 767px) {
  .subscribe .container > img,
  .motivation .container > img.ill {
    order: -1;
  }
  .subscribe .container .info,
  .getstart .container .info,
  .motivation .container .info,
  .footer .container {
    text-align: center;
    align-items: center;
  }
  .subscribe .container .info h2,
  .motivation .container .info h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .getstart .container form {
    align-items: center;
  }
  .footer .container .logoi {
    margin-left: auto;
    margin-right: auto;
  }
  .d1,
  .d2,
  .social {
    padding-top: 20px;
  }
  .motivation {
    padding-top: 50px;
    background-image: url(../images/bg-curve-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
}
.footer {
  position: relative;
}
.footer .copy {
  min-width: 350px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.footer .copy i {
  color: var(--Moderate-Cyan);
}
.footer .copy a {
  text-decoration: none;
  font-weight: 400;
  color: var(--Moderate-Cyan);
}
.footer .copy a:hover {
  font-weight: 600;
}
